<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../includes/favicon_import.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('../includes/css_import.ejs') %>
</head>

<body>
    <div class="wrapper">
        <%- include('../includes/navigation.ejs') %>
        <div class="<%= loggedIn ? 'form_container slide-handler' : 'form_container expand-grid' %>">
            <% if (messageType != 0) { %>
            <div class="msg-board">
                <% if (messageType == 2) { %>
                <div class="bubble-logo">
                    <img alt="happy_face" src="/resources/happy.png" width="150" height="150">
                </div>
                <% } else { %>
                <div class="bubble-logo">
                    <img alt="sad_face" src="/resources/not_found.png" width="150" height="150">
                </div>
                <% } %>
                <div class="bubble">
                    <p><%= message ? message : '' %></p>
                </div>
            </div>
            <% } %>
            <div class="reset-form">
                <form action="<%= token != '' ? '/resetpass' : '/reset' %>" name="resetForm" method="POST">
                    <div class="<%= token != '' ? 'hidden' : 'form-input' %>">
                        <label for="email">Your E-Mail: </label>
                    </div>
                    <div class="<%= token != '' ? 'hidden' : 'form-input' %>">
                        <input type="email" name="email">
                    </div>
                    <div class="<%= token != '' ? 'form-input' : 'hidden' %>">
                        <label for="password">New Password: </label>
                    </div>
                    <div class="<%= token != '' ? 'form-input' : 'hidden' %>">
                        <input type="password"name="password">
                    </div>
                    <div class="<%=token != '' ? 'form-input' : 'hidden' %>">
                        <label for="password">Repeat Password: </label>
                    </div>
                    <div class="<%= token != '' ? 'form-input' : 'hidden' %>">
                        <input type="password" name="repeatPassword" id="password">
                    </div>
                    <div class="<%= token != '' ? 'hidden' : 'form-input' %>">
                        <button class="btn-misc resetBtn" name="resetBtn" type="submit">RESET</button>
                    </div>
                    <div class="<%= token != '' ? 'form-input' : 'hidden' %>">
                        <button class="btn-misc resetBtn" name="resetBtn" type="submit">RESET PASSWORD</button>
                    </div>
                    <input type="hidden" name="token" value="<%= token != '' ? token : '' %>">
                </form>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
        window.onload = function() {
            history.replaceState("", "", "/reset");
        }
    </script>
</body>

</html>